@model Book

@{
    ViewData["Title"] = "Thông tin sách";
}

<h1>Thông tin sách</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            <img height="128" width="128" src="@("https://bucket-dat.s3.ap-southeast-1.amazonaws.com/" + Model.ImagePath)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PdfPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PdfPath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Thay đổi</a> |
    <a asp-action="Download" class="btn btn-primary" asp-route-id="@Model?.Id">Download</a> |
    <a asp-action="Index" class="btn btn-secondary">Trở lại trang chủ</a>
</div>
